# Specify required variables, save and close this file. And press enter in previos window
HAMSTER_TOKEN_1=""
# HAMSTER_TOKEN_2=""
# HAMSTER_TOKEN_3=""

# Specify your Telegram bot token 
TELEGRAM_BOT_TOKEN=""
TELEGRAM_API_ID=""
TELEGRAM_API_HASH=""

# Specify where to send the balance. Your telegram ID or group ID
CHAT_ID=

# (optional)
GROUP_URL=""